<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v7.0" sku=".NETFramework,Version=v6.0" />
	</startup>
	<connectionStrings>
		<add name="DefaultConnection"
			 connectionString="Data Source=LAPTOP-0M76LIMK;Initial Catalog=OOPdb;Integrated Security=True"
			providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>